<div class="span9">
  <div class="hero-unit">
    <h2><%= @recipe.name %></h2>
    <br />
    <h3><%= @recipe.views %></h3>
    <h3><%= request.remote_ip %></h3>
    <br/ >
    <%= @recipe.description %>
    <br/><br/>
    <br/><br/>
    <br/><br/>
      <p><i class="icon-tags"></i> Taglar : <%= raw @recipe.tag_list.map {|t| link_to t, tag_path(t)}.join(', ') %></p>
   </div>

   <%= render "comments/comments" %>
   <%= render "comments/form" %>

</div> 
