<h2>Giris Yap</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :Sifre %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :Beni_hatırla %></div>
  <% end -%>

  <div><%= f.submit "Giriş Yap" %></div>
<% end %>

<%= render "devise/shared/links" %>
