<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to "vape cookbook", '#', id: "logo" %>
          <div class="nav-collapse">
            <ul class="nav">
              
            </ul>
            <ul class="nav pull-right">
        
            <% if user_signed_in? %>
              Logged in as <strong><%= current_user.email %></strong>.
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">User settings <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
                <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
              </li>     
            <% else %>
            <li class="divider-vertical"></li>
            
            
            <li><i class="icon-lock"></i><%= link_to "Sign up", new_user_registration_path %></li>
            <li class="divider-vertical"></li>
            
            <li><i class="icon-edit"><%= link_to "Login", new_user_session_path %></i></li>
            <li class="divider-vertical"></li>  
            <% end%>
            
            
            
            <form class="navbar-search pull-right" action="">
                <input type="text" class="search-query span2" placeholder="Search" required>
            </form>    
            
          </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

