<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to "buhar mutfağı", root_path, id: "logo" %>
          <div class="nav-collapse">
            <ul class="nav">
              
            </ul>
            <ul class="nav pull-right">
        
            <% if user_signed_in? %>
                <li><%= link_to 'Profil', edit_user_registration_path %></li>
                <li><%= link_to 'Tarifler', user_path(current_user.id) %></li>  
                <li><%= link_to 'Çıkış', destroy_user_session_path, method: :delete %></li>
            <% else %>
            <li class="divider-vertical"></li>
            

            <li><a href="<%= new_user_registration_url%>"><i class="icon-lock"></i>Kayıt Ol</a></li>
            <li class="divider-vertical"></li>

            <li><a href="<%= new_user_session_path %>"><i class="icon-edit"></i>Giris Yap</a></li>
            <li class="divider-vertical"></li>  
            <% end%>
            
            
            
            <form class="navbar-search pull-right" action="">
                <input type="text" class="search-query span2" placeholder="Tarif Ara" required>
            </form>    
            
          </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

