<!DOCTYPE html>
<html>
  <head>
    <title>Vape Cookbook</title>
    <%= stylesheet_link_tag "application", media: "all", 
                                           "data-turbolinks-track" => true %>
                                         <%= stylesheet_link_tag "bootstrap.css" %>
                                         <%= stylesheet_link_tag "style.css" %>
                                         <%= stylesheet_link_tag "bootstrap-responsive.css" %>
                                         <%= stylesheet_link_tag "scaffolds.css.scss" %>
                                         <%= stylesheet_link_tag "icon-style.css" %>
                                         
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
  </head>
  <body>
    <%= render 'layouts/header' %>
    
    
    <div class="container">
      <div class="row">
        <%= render 'layouts/navigation' %>
          
        <%= yield %>
      </div>
    </div>


          
    <%= render 'layouts/pagination' %>
    <%= render 'layouts/footer'%>
      
        
      
  </body>
</html>
